.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.message {
  color: $off-white;
  text-align: center;
  padding: $m-size;
  margin: 0;
  border-bottom: 0.1rem solid lighten($light-blue, 10%);
}

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}
